.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.bg-purple{
  background: #cf69ca;
}
.text-purple{
  color: #cf69ca;
}
.border-purple{
  border-color: #cf69ca;
}
.mt--15{
  margin-top: -15%;
}
.formWrapper{
  height: auto; 
  max-height: 530px; 
  width: 350px;
  margin-top: 50px;
  margin-left: 10%;
}
.h-500{
  height: 500px;
}
.logInFromWrapper{
  height: auto; 
  max-height: 480px; 
  width: 350px;
  margin-top: 4%;
  margin-left: 10%;
}
.ml-25{
  margin-left: 25%;
}
.mt-15{
  margin-top: 15%;
}
.cardWrapper{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
